In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
steam_review = pd.read_csv("Datasets/steam_reviews.csv")

In [6]:
steam_review.head()

,date_posted,funny,helpful,hour_played,is_early_access_review,recommendation,review,title
0,2019-02-10,2,4,578,False,Recommended,&gt Played as German Reich&gt Declare war on B...,Expansion - Hearts of Iron IV: Man the Guns
1,2019-02-10,0,0,184,False,Recommended,yes.,Expansion - Hearts of Iron IV: Man the Guns
2,2019-02-07,0,0,892,False,Recommended,Very good game although a bit overpriced in my...,Expansion - Hearts of Iron IV: Man the Guns
3,2018-06-14,126,1086,676,False,Recommended,Out of all the reviews I wrote This one is pro...,Dead by Daylight
4,2017-06-20,85,2139,612,False,Recommended,Disclaimer I survivor main. I play games for f...,Dead by Daylight

In [7]:
steam_review.describe()

              funny        helpful    hour_played
count  4.348910e+05  434891.000000  434891.000000
mean   5.333024e+05       1.004114     364.130773
std    4.785640e+07      59.462935     545.961198
min    0.000000e+00       0.000000       0.000000
25%    0.000000e+00       0.000000      62.000000
50%    0.000000e+00       0.000000     190.000000
75%    0.000000e+00       0.000000     450.000000
max    4.294967e+09   28171.000000   31962.000000

In [8]:
steam_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434891 entries, 0 to 434890
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   date_posted             434891 non-null  object
 1   funny                   434891 non-null  int64
 2   helpful                 434891 non-null  int64
 3   hour_played             434891 non-null  int64
 4   is_early_access_review  434891 non-null  bool
 5   recommendation          434891 non-null  object
 6   review                  433375 non-null  object
 7   title                   434891 non-null  object
dtypes: bool(1), int64(3), object(4)
memory usage: 23.6+ MB

In [9]:
steam_review.isnull().sum()

date_posted                  0
funny                        0
helpful                      0
hour_played                  0
is_early_access_review       0
recommendation               0
review                    1516
title                        0
dtype: int64

In [12]:
steam_review = steam_review.dropna()

In [13]:
steam_review.isnull().sum()

date_posted               0
funny                     0
helpful                   0
hour_played               0
is_early_access_review    0
recommendation            0
review                    0
title                     0
dtype: int64

In [14]:
steam_review.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 433375 entries, 0 to 434890
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   date_posted             433375 non-null  object
 1   funny                   433375 non-null  int64
 2   helpful                 433375 non-null  int64
 3   hour_played             433375 non-null  int64
 4   is_early_access_review  433375 non-null  bool
 5   recommendation          433375 non-null  object
 6   review                  433375 non-null  object
 7   title                   433375 non-null  object
dtypes: bool(1), int64(3), object(4)
memory usage: 26.9+ MB